.footer {
  background-color: rgb(130, 148, 96);
  border: none;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 10px;
  position: fixed;
  width: 100vw;
}
