.profile {
  justify-content: center;
  text-align: center;
  width: 100vw;
}


.profile-button {
  align-items: center;
  background: white;
  border-radius: 50px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.7);
  color: rgb(72, 72, 72);
  font-family: Cambria , Cochin , Georgia , Times , serif;
  font-size: 18px;
  justify-content: center;
  margin-bottom: 30px;
  margin-right: 10px;
  text-align: center;
  text-shadow: 0.2px 0.5px black;
  width: 25%;
}

