.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 13px;
  width: 100%;
}

.title-progress {
  background-color: #fcc436;
  color: rgb(130, 148, 96);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  padding: 30px;
  text-align: center;
  text-shadow: 0.8px 0.5px black;
}

.recipe-title {
  color: rgb(72, 72, 72);
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
  width: 100%;
}

.ingredients-progress {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  margin-top: 5px;
  text-align: justify;
}

.img {
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.8);
  filter: brightness(90%) contrast(110%);
  margin: 0 auto;
  width: 45%;
}

.input-checkbox {
  height: 15px;
  margin: 0 10px;
  width: 15px;
}

/* input[type="checkbox"]:checked + * {
  text-decoration: line-through solid rgb(0, 0, 0);

} */

.finish-button:disabled {
  background-color: rgb(130, 148, 96);
  color: black;
}

@media ( max-width : 675px ) {

  .title-progress {
    padding: 40px;
  }

  .img {
    margin-bottom: 40px;
    width: 90%;
  }

}
