.searchBar {
    margin: 10px;
    max-width: 100vw;
  }
  
  .meals {
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
  }
  
  .recipe-card-img {
    border-radius: 0.5rem;
    width: 150px;
  }
  