.recipes {
  margin-bottom: 60px;
}

.categories {
  color: #b1b1b1;
  display: flex;
  font-size: 0.7em;
  justify-content: space-evenly;
}

.category {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 15%;
}
