.searchBar {
  margin: auto;
  max-width: 100vw;
}

.form {
  align-items: center;
  background-color: rgb(130, 148, 96);
  border-radius: 8px;
  display: fixed;
  flex-direction: column;
  font-size: 1em;
}

.form-control {
  display: fixed;
  margin-left: 1px;
}

.text-label {
  margin-bottom: 5px;
  width: 170px;
}

.form div {
  display: flex;
  justify-content: center;
  width: 50px;
}

.radio_btn_search {
  display: fixed;
  margin-left: 56px;
  margin-right: 5px;
}

.form div label {
  display: flex;
  justify-content: center;
}

.form button {
  background-color: 4px 4px rgba(0, 0, 0, 0.2);
  color: hsl(0, 17%, 98%);
  margin: 10px;
  margin-left: 65px;
  padding: 8px;
  width: 80%;
}

